.container{
  width: 1000px;
}

.column{
  float: left;
  margin: 50px;
  width: 400px;
}

img{
  width: 400px;
}

.contact{
  float: left;
}

.container .column:nth-child(1){
  background-color: aqua;
}

.container .column:nth-child(2){
  background-color: lavender;
}

.container .column:nth-child(3){
  background-color: lightgreen;
}

.container .column:nth-child(4){
  background-color: lightpink;
}

a {
  color: green;
}

.contact p a {
  font-weight: bold;
  color: red;
}

h2 {
  font-family: cursive;
  font-size: 30px;
  text-align: center;
}

.column h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.column:nth-child(2) h2{
  color: purple;
}